:root{
  --button-text-color: #9b9eaf;
  --button-background-color: rgb(51, 54, 71);
  --background-color: #242834;
  --pure-white: #ffffff;
  --inner-button-border-color: #717485;
  --hover-button-color: #7800e0;
}

.field{
  border-radius: 5px;
}
body{
  background-color: var(--background-color);
}